* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    width: 100%;
    max-width: 1200px;

    padding: 0 15px;
    margin: 0 auto;
}

.header, .main {
    width: 100%;
}

.header-inner, .main-inner {
    width: 100%;
}

.header-inner {
    height: 120px;

    display: flex;
    justify-content: center;
    align-items: center;
}

.header-logo {
    width: 100px;
    height: 100px;

    border: 2px solid rgb(5, 205, 101);
    border-radius: 50%;
}

.header-name {
    font-size: 30px;
    margin: 0 15px;
    font-weight: bold;
}

.main-block {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
}

.main-block__name {
    width: 100%;
    text-align: center;
    margin: 10px 0;
}

.lesson {
    width: 200px;
    height: 100px;

    border: 1px solid black;
    border-radius: 10px;

    margin: 0 10px;

    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.lesson:hover {
    box-shadow: 10px 7px 21px 5px rgba(0,0,0,0.75);
    -webkit-box-shadow: 10px 7px 21px 5px rgba(0,0,0,0.75);
    -moz-box-shadow: 10px 7px 21px 5px rgba(0,0,0,0.75);
}