* {
    margin: 0;
    padding: 0;

    box-sizing: border-box;
}

body {
    background-color: rgb(209, 217, 209);
}

.container {
    width: 100%;
    max-width: 1200px;

    padding: 0 15px;
    margin: 0 auto;
}

.wrapper-inner {
    width: 100%;
}

.wrapper-inner__header {
    width: 100%;
    height: 100px;
    
    display: flex;
    justify-content: center;
    align-items: center;
}

.wrapper-inner__main {
    width: 100%;
    height: 400px;
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.field {
    width: 300px;

    display: flex;
    flex-wrap: wrap;
}


.box {
    width: 100px;
    height: 100px;

    font-size: 30px;

    border: 1px solid black;

    display: flex;
    justify-content: center;
    align-items: center;
}

.start-game {
    width: 150px;
    height: 30px;

    background-color: aliceblue;
    border: 1px solid rgb(161, 210, 185);

    margin: 15px 0;

    display: flex;
    justify-content: center;
    align-items: center;
}

.start-game:hover {
    cursor: pointer;
}

.start-game:active {
    background-color: #b0d9b2;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
}

.message-field, .player {
    width: 300px;
    height: 50px;

    background-color: rgb(255, 255, 255);

    padding: 10px;

    display: flex;
    justify-content: center;
    align-items: center;
}

.player {
    width: 200px;
    margin: 0 0 10px 0;
    font-weight: bold;
}