* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.wrapper {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: lightgrey;
}

.container {
    width: 100%;
    max-width: 480px;
    padding: 0 10px;
    margin: 0 auto;
}

h1 {
    text-align: center;
}

.calc-app {
    width: 100%;
    padding: 5px;
    margin: 10px;
    background-color: #fff;
    border: 1px solid black;
}

.calc-app__screen,
.calc-app__control_numbers,
.calc-app__result,
.calc-app__add {
    width: 100%;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.calc-app__control {
    display: flex;
}

.calc-app__control_numbers {
    width: 80%;
}

.calc-app__screen {
    justify-content: center;
    position: relative;
}

.calc-app__input {
    width: 100%;
    height: 40px;
    padding: 0 10px;

    display: flex;
    justify-content: start;
    align-items: center;

    border: 1px solid black;
}

.calc-app__input:hover {
    -webkit-box-shadow: inset 0px 0px 6px -2px #000000; 
    box-shadow: inset 0px 0px 6px -2px #000000;
}

.calc-app__reset {
    position: absolute;
    top: 2px;
    right: 2px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 900;
    font-size: 20px;
    width: 36px;
    height: 36px;
    background-color: rgb(241, 246, 246);
}

.calc-app__reset:hover {
    cursor: pointer;
}

.calc-app__button {
    width: 30%;
    height: 40px;

    margin: 10px 0;

    background-color: aliceblue;

    display: flex;
    justify-content: center;
    align-items: center;
}

.calc-app__control_equal {
    width: 20%;
    height: inherit;

    background-color: rgb(233, 147, 76);
}

.calc-app__button:hover {
    cursor: pointer;
}

.calc-app__math__result {
    width: 15%;
    background-color: azure;
}

.calc-app__button:hover {
    border: 1px solid black;
}

@media only screen and (max-width: 600px) {
    .calc-app__control_numbers .calc-app__button {
      width: 30%;
    }
}